* { padding: 0; margin: 0; }

html, body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 0px;
    background-color: black;
    overflow: hidden;
}

h3 {
    color: white;
    font-size: 14px;
    padding: 5px;
}

td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #bbbbbb;
    font-size: 11px;
}

th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #bbbbbb;
    font-size: 28px;
}

h2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #bbbbbb;
    font-size: 14px;
    padding: 7px;
}

a {
    color: #eee;
}

form {
	margin: 0; border: 0; padding: 0;
}

#leftbar {
	color: white;
	width: 200px;
	height: 350px;
	position: relative;
	margin: -3px 0 0 -3px;
	z-index: 3;
	background-color: #1a1a1a;
	border: 0px solid #151515;
}

#leftbar_container {
  padding-top: 10px;
  padding-left: 10px;
}

#leftbar_shader {
    position: fixed;
	width: 200px;
	height: 350px;
	z-index: 1;
	background-color: #2b2b2b;
	border: 1px solid #2b2b2b;
}

#itemresults {
    background-color: #151515;
    overflow: auto;
    height: 100%;
}

.item-read {
  border: 5px dashed grey;
  padding: 10px;
  margin: 10px;
  color: grey;
}

.item-unread {
  border: 5px dashed white;
  padding: 10px;
  margin: 10px;
  color: white;
}
#status {
  padding-top: 2px;
}

#debug {
  margin-top: 20px;
  padding: 5px;
  background-color: #eee;
  color: black;
  border: 1px solid black;
  width: 90%;
}

#debug img { 
  border: 0;
  padding-right: 4px;
}
#debug a {
  color: black;
}
