body {
  font-family: Arial, sans-serif;
}

td {
  padding: 0;
}

#container {
  width: 100%;
  margin:0 auto;
/*  max-width:1024px;*/
}

tr {
  vertical-align: top;
}

div {
/*  border: 1px solid #999;*/
}

#header {
  height: 50px;
  padding-left: 15px;
}

/*#footer {
  width: 100%;

}*/

#selectSample {
  width: 30%;
  display: inline;
}

#code {
  width: 70%;
  display: inline;
}

#codeContainer {
  width: 80%;
  height: 400px;
  padding-left: 10px;
}

#selectContainer {
  width:20%;
  height: 400px;
  border: 1px solid #999;
  background-color: white;
  z-index: 502;
}

#outputContainer {
  height: 450px;
}

#editor {
  height: 400px;
  border: 1px solid #999;
  background-color: #EBEBEB;
  z-index: 500;
}

#edit {
  height: 350px;
  height: expression('365px');
}

#selectCode {
  width:100%;
  height: 350px;
  height: expression('365px');
  overflow: auto;
  background-color: white;
  z-index: 999;
}

.category {
  font-size: 85%;
  font-family: Arial, sans-serif;
  font-weight: bold;
  display: block;
}

#acDiv > ul > li {
  list-style-type: none;
  padding-right: 15px;
}

.supDocs {
  font-size: 12px;
}

.supDocs a {
  text-decoration: none;
}

.categoryItems {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  font-size: 80%;
  font-family: Arial, sans-serif;
  padding-left: 0;
  line-height: 1.2em;
}

iframe {
  font-family: Arial, Helvetica, sans-serif;
/*  overflow-x: hidden;*/
}

#runFrame {
  font-family:Arial,Helvetica,sans-serif;
}

.contentTable {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

#header {
  margin: 0;
  display: inline;
}

.bluehr {
  background-color:transparent;
  border:0 none;
  float:left;
  font-size:1.5em;
  font-weight:bold;
  line-height:1.3em;
  margin:0;
  padding:0 0 0 0.3em;
}

h2 {
  border-bottom:1px solid #CCCCCC;
  font-size:1.3em;

  background: #E5ECF9;
  margin: 0;
  padding-left: 15px;
  font-family:Arial,Helvetica,sans-serif;
  height: 30px;
}

.headerTable td{
  vertical-align: bottom;
}
.headerTable {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

.bluediv {
  background-color:#E5ECF9;
  border-top:1px solid #3366CC;
  font-size:1em;
  margin:0;
  padding:0.1em 0;
  white-space:nowrap;
  margin-left: 2px;
  margin-right: 2px;
}

li.selected {
  padding:0.2em 0 0.2em 15px;
  background-color:#E5ECF9;
  color:#000000;
  position:relative;
  text-decoration:none;
  z-index:2;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  vertical-align:middle;
  cursor: default;
}

li {
  padding-left: 15px;
  color: blue;
}

img.expand, img.collapse {
  border: medium none;
  height: 9px;
  margin-bottom: 4px;
  margin-right: 5px;
  padding: 0;
  position: relative;
  width: 9px;
  background-image: url(../images/sprites.png);
  vertical-align: middle;
  cursor: pointer;
}

img.collapse {
  background-position: -28px -310px; /* The empty Plus */
}

img.collapse:hover {
  background-position:-28px -508px; /* The filled Plus */
}

img.expand {
  background-position: -28px -246px; /* The empty Plus */
}

img.expand:hover {
  background-position:-28px -444px; /* The filled Plus */
}
#gc-footer-img {
  background-image:url(../images/sprites.png);
  background-position:-28px -28px;
  display:inline;
  float:left;
  height:53px;
  margin:12px 0;
  width:143px;
}

#gc-footer .text {
  margin:0 0 0 170px;
  padding:30px 0;
  text-align:center;
}

#gc-footer {
  color:#666666;
  margin:0;
  width:100%;
}

td.footer {
  padding-top: 60px;
}

#googleLogoTD {
  text-align:right;
  vertical-align:middle;
  padding-right: 15px;
}

#tab_bar {
  margin-top:20px;
  cursor: pointer;
}

#button_bar {
  text-align: right;
}

.roundedcornr_box {
  float:left;
  margin: 0 4px;
}

.db_top div {
  background: url(../images/db_tl.png) no-repeat top left;
}
.db_top {
  background: #92c1f0 url(../images/db_tr.png) no-repeat top right;
}

.lb_top div {
  background: url(../images/lb_tl.png) no-repeat top left;
}

.lb_top {
  background: #D0E4F6 url(../images/lb_tr.png) no-repeat top right;
}

.db_top div, .db_top,
.lb_top div, .lb_top {
  height: 5px;
  font-size: 1px;
}
.lb_roundedcornr_content,
.db_roundedcornr_content {
  padding: 0 10px;
  font-size: 80%;
}

.lb_roundedcornr_content {
  background-color: #D0E4F6;
}

.db_roundedcornr_content {
  background-color: #92c1f0;
}

span.category div {
  margin-left: 15px;
}

span.categoryTitle {
  font-size: 90%;
  font-family: Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

span.subCategoryTitle {
  font-size: 85%;
  font-family: Arial, sans-serif;
  font-weight: normal;
  cursor: pointer;
}

span.categoryOpen div, span.categoryOpen ul {
  display: block;
}

span.categoryClosed div, span.categoryClosed ul {
  display: none;
}

.proxy {
  border: 1px dashed #000;/*#3399ff*/
  z-index:9999;
}

.ui-resizable-se {
  cursor: se-resize;
  width: 13px;
  height: 13px;
  right: 0;
  bottom: 0;
  background: url(../images/resize.png) no-repeat 0 0;
}
#outputDrag, #editDrag, #selectDrag {
  cursor: move;
}
#runbox {
  width: 100%;
  /*height: 100%;*/
}

#runbox iframe {
  border: 0 none white;
  width: 100%;
  height: 100%;
/*  border: 0 none #999;*/
}

#outputDiv {
  border: 1px solid #999;
  height: 100%;
  background-color: white;
  z-index: 498;
  margin-top: 10px;
}

.codeMenuTD {
  color: #4D4D4D;
  font-size: 80%;
  font-weight:normal;
  width: 130px;
}

.greyLinks a {
  color: #4D4D4D;
  cursor: pointer;
  font-weight:normal;
  text-decoration: none;
}

.codeOutput, #saveCodeForm {
  background-color: white;
  width: 800px;
  height: 600px;
  display:none;
  overflow: hidden;
}

#searchInputContainer {
  width: 130px;
  height: 20px;
  background: url(../images/search_box.png) no-repeat;
  margin-top: -2px;
  display:none;
}

.ui-dialog-titlebar {
  background-color: #E5ECF9;
  border-style:none none solid;
  border-width:0 0 1px;
  color:#555555;
  font-weight:normal;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  outline-style:none;
  outline-width:0;
  padding: 3px;
  position:relative;
  text-decoration:none;
}

.explain {
  color:#676767;
  font-size: 80%;
}

.formLabel {
  font-size: 90%;
}

.ui-dialog-titlebar-close {
  border:0 none;
  font-size:90%;
  height:11px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  outline-style:none;
  outline-width:0;
  padding:0;
  position:absolute;
  right:5px;
  text-decoration:none;
  top:4px;
  width:11px;
  z-index:100;
}

#demoTitle, #runBoxTitle {
  color: #4D4D4D;
}

#demoTitle {
  overflow: hidden;
  text-overflow:ellipsis;
  -o-text-overflow : ellipsis;
  white-space: nowrap;
}

/* ------ Autocomplete ------- */
.ui-autocomplete-results {
  border: 1px solid #999;
  z-index: 9999;
  background-color: white;
}

#search {
  border: 0 none;
  height: 14px;
  margin: 2px 12px 1px 0;
  color:#999;outline:none;
}

li.ui-autocomplete-odd, li.ui-autocomplete-even {
  color: black;
  text-decoration:none;
}

li.ui-autocomplete-odd > a > strong, li.ui-autocomplete-even > a > strong {
  font-size: 110%;
}

.ui-autocomplete-even {

}
.ui-autocomplete-odd {

}
.ui-autocomplete-over {
  background-color: #E5ECF9;
  cursor: pointer;
}
.ui-autocomplete-results > ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 80%;
  font-family: Arial, sans-serif;
}

/* ------ Dropdown Menu------- */
.buttonText {
  background:transparent url(../images/mm_buttons.png) no-repeat scroll;
  color:#003399;
  display:block;
  float:left;
  font-size:13px;
  font-weight:bold;
  font-family: Arial, sans-serif;
  padding:5px 4px 5px 7px;
}

.dropdownButton {
  background:transparent url(../images/mmimgs.png) no-repeat scroll;
  display:block;
  float:left;
  height:25px;
  vertical-align:bottom;
  width:26px;
}

#codeMenu {
  float: right;
}

.dropdown {
  display: none;
  text-decoration: none;
  background-color:#E5ECF9;
  padding: 0;
  margin-top: -4px;
  position: absolute;
  color:#0033CC;
  border:1px solid #ABB1BD;
  text-align: left;
  cursor: pointer;
}

.expanded {
  display: block;
}

.dropdown span {
  width: 120px;
  display: block;
  border-top:1px solid #ABB1BD;
  color: #0033CC;
  padding:2px 4px;
  cursor: pointer;
  font-family:Arial,sans-serif;
  font-size:12px;
}

.dropdown span.first {
  border-top: 0px none;
}

.dropdown span:hover {
  background-color: white;
}

.buttonDropdownContainer {
  color:#0033CC;
  cursor:pointer;
  display:inline-block;
  text-decoration:none;
}

/* ------ Drop Shadows ------- */
#runShadowContainer, #editShadowContainer, #pickShadowContainer {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  left: -1000px;
}

#runShadowContainer {
  z-index: 497;
}

#pickShadowContainer {
  z-index: 501;
}

#editShadowContainer {
  z-index: 499;
}

#runShadowContainer {
  margin-top: 10px;
}

.bottomShadows {
  top: 467px;
}

.rightShadows {
  right: -17px;
}

.brShadow {
  background: url(../images/drop_shadows/br.png) no-repeat;
  width: 58px;
  height: 50px;
  position: absolute;
  right: -17px;
}

.blShadow {
  background: url(../images/drop_shadows/bl.png) no-repeat;
  width: 45px;
  height: 51px;
  position: absolute;
  left: 0;
}

.bShadow {
  background: url(../images/drop_shadows/b1px.png) repeat;
  height: 51px;
  width: 414px;
  position: absolute;
  right: 41px;
}

.trShadow {
  background: url(../images/drop_shadows/tr.png) no-repeat;
  width: 58px;
  height: 51px;
  position: absolute;
  right: -17px;
  top: 0;
}

.rShadow {
  background: url(../images/drop_shadows/r1px.png) repeat;
  height: 416px;
  width: 58px;
  position: absolute;
  right: -17px;
  top: 51px;
}

.docsLink {
  margin-left: 6px;
}

/* ------ Fix jQuery 'no drag over iFrame' CSS rules */
#dragsafe {
  position: absolute;
  top: 0;
  left: -600px;
  width: 600px;
  height: 600px;
  z-index: 9999;
}

/* ------ PUSH UP THE WEB CSS -------*/
#pushup {
  position: fixed;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 4px;
  background: #ffffc6;
  border: 1px solid #b0dfc8;
  z-index: 9000;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
* html #pushup {
  position: absolute;
  top: expression(_pushupIETop = 10 + (document.documentElement.scrollTop || 0) + 'px');
}
#pushup * {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}
.withReminder { padding-bottom: 6px; }
#pushup a {
  outline-style: none;
  text-decoration: none;
}

#pushup .pushup_messageLink {
  float: left;
  position: relative;
  color: #4293cd;
  font-size: 12px;
  cursor: pointer;
}

#pushup .pushup_icon {
  position: relative;
  float: left;
  height: 22px;
  width: 22px;
  margin-right: 5px;
  overflow: hidden;
  vertical-align: middle;
}

#pushup .pushup_message {
  position: relative;
  float: left;
  margin-right: 3px;
  line-height: 22px;
  vertical-align: middle;
}

#pushup .pushup_reminder {
  float: left;
  clear: both;
  font-size: 10px;
  color: #84a2ac;
  margin-left: 27px;
  cursor: pointer;
}

#pushup .pushup_messageLink:hover, #pushup .pushup_reminder:hover {
  text-decoration: underline;
}