body {
  font-family: Arial, sans-serif;
}

td {
  padding: 0px;
}

#container {
  width: 100%;
  margin:0pt auto;
  max-width:1024px;
}

tr {
  vertical-align: top;
}

div {
/*  border: 1px solid #999;*/
}

#header {
  height: 50px;
  padding-left: 15px;
}

/*#footer {
  width: 100%;
  
}*/

#selectSample {
  width: 30%;
  display: inline;
}

#code {
  width: 70%;
  display: inline;
}

#codeContainer {
  width: 80%;
  height: 500px;
/*  padding-right: 9px;*/
}

#selectContainer {
  width:20%;
  height:100%;
  border: 1px solid #999;
}

#outputContainer {
  height: 300px;
}

#consoleContainer {
  height: 300px;
  width: 30%;
  border: 1px solid #999;
}

#editor {
  height: 500px;
  border: 1px solid #999;
}

#edit {
  height: 95%;
}

#selectCode {
  width:100%;
  height: auto;
  overflow: auto;
  overflow-x: hidden;
  margin-bottom: 3px;
  margin-top: 20px;
}

.category {
  font-size: 85%;
  font-family: Arial, sans-serif;
  font-weight: bold;
  display: block;
}

.categoryItems {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  font-size: 80%;
  font-family: Arial, sans-serif;
  padding-left: 0px;
}

iframe {
/*  overflow-x: hidden;*/
}

.contentTable {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

#header {
  margin: 0px;
  display: inline;
}

.bluehr {
  background-color:transparent;
  border:0pt none;
  float:left;
  font-size:1.5em;
  font-weight:bold;
  line-height:1.3em;
  margin:0pt;
  padding:0pt 0pt 0pt 0.3em;
}

h2 {
  border-bottom:1px solid #CCCCCC;
  font-size:1.3em;
  padding-top: 5px;
  background: #E5ECF9;
  margin: 0px;
  padding-left: 15px;
  font-family:Helvetica,Arial,sans-serif;
}

.bluediv {
  background-color:#E5ECF9;
  border-top:1px solid #3366CC;
  font-size:1em;
  margin:0pt;
  padding:0.1em 0pt;
  white-space:nowrap;
  margin-left: 2px;
  margin-right: 2px;
}

li.selected {
  padding:0.2em 0pt 0.2em 15px;
  background-color:#E5ECF9;
  color:#000000;
  position:relative;
  text-decoration:none;
  z-index:2;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0pt;
  vertical-align:middle;
  line-height:100%;
  cursor: default;
}

li {
  padding-left: 15px;
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

img.expand, img.collapse {
  border:medium none;
  height:inherit;
  margin-bottom: 4px;
  margin-right: 5px;
  padding:0pt;
  position:relative;
  width:9px;
  background-image:url(../images/sprites.gif);
  vertical-align:middle;
  cursor: pointer;
}

img.collapse {
  background-position: -28px -310px; /* The empty Plus */
}

img.collapse:hover {
  background-position:-28px -508px; /* The filled Plus */
}

img.expand {
  background-position: -28px -246px; /* The empty Plus */
}

img.expand:hover {
  background-position:-28px -444px; /* The filled Plus */
}

/*.separator {
  height: 100%;
  background:#E5ECF9 none repeat scroll 0% 0%;
  border-color:-moz-use-text-color #FFFFFF;
  border-style:1px solid;
  border-width:medium 2px;
  cursor:pointer;
  left:-5px;
  overflow:hidden;
/*  position:absolute;*/
/*  top:0pt;
  margin-top: 63px;
  width:4px;
}*/

#gc-footer-img {
  background-image:url(../images/sprites.gif);
  background-position:-28px -28px;
  display:inline;
  float:left;
  height:53px;
  margin:12px 0pt;
  width:143px;
}

#gc-footer .text {
  margin:0pt 0pt 0pt 170px;
  padding:30px 0pt;
  text-align:center;
}

#gc-footer {
  color:#666666;
  margin:0pt;
  width:100%;
}

td.footer {
  padding-top: 60px;
}

#googleLogoTD {
  text-align:right; 
  vertical-align:middle;
  padding-right: 15px;
}

#tab_bar {
  margin-top:20px;
  cursor: pointer;
}

#button_bar {
  text-align: right;
}

.roundedcornr_box {
  float:left;
  margin: 0px 4px;
}

.db_top div {
  background: url(../images/db_tl.png) no-repeat top left;
}
.db_top {
  background: #92c1f0 url(../images/db_tr.png) no-repeat top right;
}

.lb_top div {
  background: url(../images/lb_tl.png) no-repeat top left;
}

.lb_top {
  background: #D0E4F6 url(../images/lb_tr.png) no-repeat top right;
}

.db_top div, .db_top, 
.lb_top div, .lb_top {
  height: 5px;
  font-size: 1px;
}
.lb_roundedcornr_content,
.db_roundedcornr_content { 
  padding: 0px 10px; 
  font-size: 80%;
}

.lb_roundedcornr_content {
  background-color: #D0E4F6;    
}

.db_roundedcornr_content {
  background-color: #92c1f0;
}

span.category div {
  margin-left: 15px;
}

span.categoryTitle {
  font-size: 90%;
  font-family: Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

span.subCategoryTitle {
  font-size: 85%;
  font-family: Arial, sans-serif;
  font-weight: normal;
  cursor: pointer;
}

span.categoryOpen div, span.categoryOpen ul {
  display: block;
}

span.categoryClosed div, span.categoryClosed ul {
  display: none;
}

.proxy {
	border: 1px dashed #000;/*#3399ff*/
	z-index:9999;
}

.ui-resizable-se { 
	cursor: se-resize; 
	width: 13px; 
	height: 13px; 
	right: 0px; 
	bottom: 0px; 
	background: url(../images/resize.gif) no-repeat 0 0;
}
#outputDrag {
	cursor: move;
}
#runbox {
  width: 100%;
  height: 100%;
}

#runbox iframe {
  border: 0px none white;
  border-top: 1px solid #999;
  width: 100%;
  height: 100%;
/*  border: 0px none #999;*/
}

#outputDiv {
  border: 1px solid #999;
  height: 100%;
  background-color: white;
  z-index: 1000;
}


/* ------ Drop Shadows ------- */
#shadowContainer {
  width: 500px;
  height: 500px;
  position: absolute;
  top:0px;
  left:-1000px;
}

.bottomShadows {
  top: 467px;
}

.rightShadows {
  right: -17px;
}

.brShadow {
  background: url(../images/drop_shadows/br.png) no-repeat;
  width: 58px;
  height: 50px;
  position: absolute;
  right: -17px;
}

.blShadow {
  background: url(../images/drop_shadows/bl.png) no-repeat;
  width: 45px;
  height: 51px;
  position: absolute;
  left: 0px;
}

.bShadow {
  background: url(../images/drop_shadows/b1px.png) repeat;
  height: 51px;
  width: 414px;
  position: absolute;
  right: 41px;
}

.trShadow {
  background: url(../images/drop_shadows/tr.png) no-repeat;
  width: 58px;
  height: 51px;
  position: absolute;
  right: -17px;
  top: 0px;
}

.rShadow {
  background: url(../images/drop_shadows/r1px.png) repeat;
  height: 416px;
  width: 58px;
  position: absolute;
  right: -17px;
  top: 51px;
}


/* ------ Fix jQuery 'no drag over iFrame' CSS rules */
#dragsafe {
  position: absolute;
  top: 0px;
  left: -600px;
  width: 600px;
  height: 600px;
  z-index: 9999;
}

/* ------ PUSH UP THE WEB CSS -------*/
#pushup {
  position: fixed;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 4px;
  background: #ffffc6;
  border: 1px solid #b0dfc8;
  z-index: 9000;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
* html #pushup {
  position: absolute;
  top: expression(_pushupIETop = 10 + (document.documentElement.scrollTop || 0) + 'px');
}
#pushup * {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}
.withReminder { padding-bottom: 6px; }
#pushup a {
  outline-style: none;
  text-decoration: none;
}

#pushup .pushup_messageLink {
  float: left;
  position: relative;
  color: #4293cd;
  font-size: 12px;
  cursor: pointer;
}

#pushup .pushup_icon {
  position: relative;
  float: left;
  height: 22px;
  width: 22px;
  margin-right: 5px;
  overflow: hidden;
  vertical-align: middle;
}

#pushup .pushup_message {
  position: relative;
  float: left;
  margin-right: 3px;
  line-height: 22px;
  vertical-align: middle;
}

#pushup .pushup_reminder {
  float: left;
  clear: both;
  font-size: 10px;
  color: #84a2ac;
  margin-left: 27px;
  cursor: pointer;
}

#pushup .pushup_messageLink:hover,
#pushup .pushup_reminder:hover { text-decoration: underline; }